.home {
  background-color: black;
}
.head {
  color: white;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
}
.container img {
  width: 150px;
  height: 150px;
}
